.filterName{
  height: 150px;
  text-align: center;
  line-height: 150px;
  font-family: 'Roboto', sans-serif;
  color: gray;
  font-size: 20px;
}

.filter__label{
  margin-right: 20px;
}

#filterName{
  height: 30px;
  width: 300px;
}