.filterName{
  height: auto;
  font-family: 'Roboto', sans-serif;
  color: gray;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media all and (min-width: 768px) {
    flex-direction: row;
    line-height: 150px;
  }
}

.filter__label{
  margin: 40px 0 20px;

  @media all and (min-width: 768px) {
    margin-right: 20px;
  }
}

#filterName{
  margin-bottom: 25px;
  height: 30px;
  width: 250px;
  
  @media all and (min-width: 768px) {
    margin: 0 0 0 20px;;
  }
}